# Face API Configuration
COMPRE_FACE_API_KEY=95b5a075-85fb-4027-ba71-c577687b2a23
COMPRE_FACE_URL=http://112.82.115.178:19007/api/v1/verification/verify

# Alternative URLs for different setups:
# For local CompreFace: http://compreface:8000/api/v1/verification/verify
# For host CompreFace: http://host.docker.internal:8000/api/v1/verification/verify
# For external CompreFace: http://your-external-ip:port/api/v1/verification/verify
